﻿@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Xero data</h1>
</div>

<pre>
    @Html.Raw(Json.Serialize(Model, new JsonSerializerSettings { Formatting = Formatting.Indented }));
</pre>